<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="common_layout">
<head>
<meta charset="UTF-8">
<title>리스트</title>
<link  rel="stylesheet" type="text/css" href="static/common.css">
</head>
<body>
	<section layout:fragment="content">
	<table>
		<thead>
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>날짜</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item : ${list}"><!-- ${list}로 사용하면 표현식(<%%>)을 사용해서 getAttribute할필요없음 -->
				<td th:text="${item.i}">1</td>
				<td><a th:href="@{'detail/' + ${item.i}}" th:text="${item.title}">안녕하십</a></td>
				<td th:text="${item.r_datetime}">2019-10-22</td>
			</tr>
		</tbody>
	</table>
	<a href="writeForm"><button>등록</button></a>
	</section>
	<footer>
		<p layout:fragment="custom-footer">대박쓰</p>
	</footer>
</body>
</html>